/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Documents
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Webfont: LatoLatin-Black */
@font-face {
  font-family: 'ProximaNova';
  src: url("fonts/proximanova-regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-regular.woff") format("woff"), url("fonts/proximanova-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Webfont: LatoLatin-Bold */
@font-face {
  font-family: 'ProximaNovaSemiBold';
  src: url("fonts/proximanova-semibold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/proximanova-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-semibold.woff2") format("woff2"), url("fonts/proximanova-semibold.woff") format("woff"), url("fonts/proximanova-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'porter-icons';
  src: url("fonts/porter-icons.eot?9bwm23");
  src: url("fonts/porter-icons.eot?9bwm23#iefix") format("embedded-opentype"), url("fonts/porter-icons.ttf?9bwm23") format("truetype"), url("fonts/porter-icons.woff?9bwm23") format("woff"), url("fonts/porter-icons.svg?9bwm23#porter-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'porter-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-move:before {
  content: "\e900"; }

.icon-access:before {
  content: "\e901"; }

.icon-copy:before {
  content: "\e903"; }

.icon-delete:before {
  content: "\e905"; }

.icon-duplicate:before {
  content: "\e907"; }

.icon-edit:before {
  content: "\e90a"; }

.icon-file:before {
  content: "\e90c"; }

.icon-search:before {
  content: "\e90e"; }

.icon-clients:before {
  content: "\e90f"; }

.icon-home:before {
  content: "\e910"; }

.icon-issues:before {
  content: "\e911"; }

.icon-places:before {
  content: "\e912"; }

.icon-users:before {
  content: "\e913"; }

.icon-menu_active:before {
  content: "\e914"; }

.icon-menu:before {
  content: "\e916"; }

.icon-porter_logo .path1:before {
  content: "\e918";
  color: white; }

.icon-porter_logo .path2:before {
  content: "\e919";
  margin-left: -3.423828125em;
  color: #c7f59b; }

.icon-white_symb:before {
  content: "\e91a"; }

.icon-back:before {
  content: "\e91c"; }

.icon-down:before {
  content: "\e91e"; }

.icon-left:before {
  content: "\e920"; }

.icon-right:before {
  content: "\e922"; }

.icon-see:before {
  content: "\e924"; }

.icon-send:before {
  content: "\e925"; }

.icon-up:before {
  content: "\e928"; }

.icon-add:before {
  content: "\e929"; }

.icon-check:before {
  content: "\e92b"; }

.icon-close:before {
  content: "\e92c"; }

.icon-expand:before {
  content: "\e92f"; }

.icon-reduce:before {
  content: "\e931"; }

.icon-reject:before {
  content: "\e932"; }

.icon-dot:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #C7F59B; }

html {
  font-size: 100%;
  /* =16px */ }

body {
  font-family: "ProximaNova";
  background-color: #232B3C; }

h1, p {
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  font-family: "ProximaNovaSemiBold";
  cursor: pointer; }

label {
  font-family: "ProximaNovaSemiBold";
  color: #A1B7D0; }

input {
  padding: 0;
  font-family: "ProximaNova";
  color: #FFFFFF; }

.clear {
  clear: both; }

/*==========================================================================
CONTAINER
==========================================================================*/
.content {
  padding: 0 58px; }

.container {
  float: left;
  width: 40%; }
  .container.container--login {
    padding-top: 1.25rem;
    /* =20px */ }
    .container.container--login .logo {
      padding: 1.56rem 0;
      text-align: center; }
  .container.container--image {
    width: 60%;
    min-height: 100vh;
    background-image: url(/img/login-background.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover; }
  .container.container--reset, .container.container--code, .container.container--newpass {
    padding-top: 1.25rem; }

.container__back {
  float: left;
  width: 22.5%; }
  .container__back.container__back--login {
    float: none;
    display: block;
    line-height: 4.5rem;
    text-align: right; }
  .container__back .container__back-link {
    font-family: "ProximaNovaSemiBold";
    font-size: 1rem;
    color: #FFFFFF; }
    .container__back .container__back-link:hover {
      color: #C7F59B; }
    .container__back .container__back-link:before {
      content: "\e91c";
      position: relative;
      top: 0.1rem;
      display: inline-block;
      width: 32px;
      font-family: "porter-icons";
      text-align: center; }

.container__back-icon.icon-back {
  padding-right: 14px;
  color: #FFFFFF; }

.container__help-link {
  display: block;
  transition: color 0.5s;
  padding-top: 5rem;
  /* =80px */
  font-size: 1.125rem;
  /* =18px */
  text-align: center;
  color: #A1B7D0; }
  .container__help-link:hover {
    color: #C7F59B; }

/*==========================================================================
FORM
==========================================================================*/
.form {
  margin: 0 auto;
  width: 55%; }
  .form.form--login {
    padding-top: 0.875rem;
    /* =14px */ }
    .form.form--login .form__label {
      margin-top: 1.5rem;
      /* =24px */ }
  .form.form--reset .form__button {
    margin-bottom: 6.875rem;
    /* =110px */ }
  .form.form--code .form__button {
    margin-bottom: 3.250rem;
    /* =52px */ }

.form__title {
  font-size: 1.125rem;
  /* =18px */
  line-height: 4.250rem;
  /* =68px */
  text-align: center;
  color: #FFFFFF; }

.form__label {
  display: block;
  margin-top: 2rem;
  /* =32px */
  font-size: 0.875rem;
  /* =14px */
  line-height: 2rem;
  /* =32px */ }
  .form__label.form__label--age {
    width: 50%;
    text-align: center; }
  .form__label.form__label--center {
    text-align: center; }

.form__label-icon.icon {
  float: right;
  line-height: 2rem;
  /* =32px */ }
  .form__label-icon.icon.icon-check {
    color: #C7F59B; }
  .form__label-icon.icon.icon-reject {
    color: #CE425D; }

.form__label-bar {
  position: relative;
  top: 0.6rem;
  float: right;
  width: 72px;
  height: 0.5rem;
  /* =8px */
  background-color: #293144; }

.form__label-bar-mask {
  display: block;
  width: 20%;
  height: 0.5rem;
  /* =8px */
  background-color: #CE425D; }
  .form__label-bar-mask.form__label-bar-mask--green {
    background-color: #C7F59B; }

.form__input {
  display: block;
  border: 2px solid transparent;
  width: 100%;
  background-color: #293144;
  font-size: 1.125rem;
  /* =18px */
  line-height: 4rem;
  /* =64px */
  text-align: center; }
  .form__input:focus {
    border: 2px solid #A1B7D0;
    outline: none; }
  .form__input.form__input--password {
    letter-spacing: 0.375rem;
    /* =6px */ }
  .form__input::-webkit-input-placeholder {
    color: #59647A;
    text-align: center;
    letter-spacing: initial; }
  .form__input::-moz-placeholder {
    color: #59647A;
    text-align: center;
    letter-spacing: initial; }
  .form__input::-ms-input-placeholder {
    color: #59647A;
    text-align: center;
    letter-spacing: initial; }
  .form__input:-moz-placeholder {
    color: #59647A;
    text-align: center;
    letter-spacing: initial; }
  .form__input::placeholder {
    color: #59647A;
    text-align: center;
    letter-spacing: initial; }
  .form__input[type=number] {
    -moz-appearance: textfield; }
    .form__input[type=number]::-webkit-inner-spin-button, .form__input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }

.form__alert {
  font-size: 0.875rem;
  /* =14px */
  line-height: 4.5rem;
  /* =72px */
  text-align: center;
  color: #CE425D; }
  .form__alert.form__alert--green {
    color: #C7F59B; }

.form__button {
  display: block;
  transition: border-color 0.5s, color 0.5s;
  margin-bottom: 0;
  border: 2px solid #59647A;
  width: 100%;
  height: 4.25rem;
  /* =68px */
  background-color: #232B3C;
  font-size: 1.125rem;
  /* =18px */
  color: #59647A; }
  .form__button:hover {
    border-color: #C7F59B;
    color: #C7F59B; }
  .form__button.form__button--active {
    color: #A1B7D0; }
    .form__button.form__button--active.form__button--send-again {
      border-color: #C7F59B; }
  .form__button.form__button--send-again {
    margin: 0 auto;
    width: 55%;
    height: 3.625rem;
    /* =58px */
    color: #C7F59B; }

.form.form--profile {
  margin: 0 32px;
  width: auto; }
  .form.form--profile .form__column {
    float: left;
    width: 48%;
    margin-left: 2%; }
    .form.form--profile .form__column.form__column--left {
      margin-left: 0; }
  .form.form--profile .form__label {
    margin: 0;
    padding-bottom: 0.75rem;
    /* =12px */
    line-height: normal; }
    .form.form--profile .form__label.form__label--radio {
      float: left;
      margin-bottom: 2rem;
      border: 2px solid #232B3C;
      width: 47%;
      padding: 0;
      font-family: "ProximaNova";
      line-height: 2.250rem;
      /* =36px */
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      margin-left: -8px;
      /* we want to use a percentage gap so we remove the space occupied by the borders */ }
      .form.form--profile .form__label.form__label--radio.form__label--radio--left {
        margin-left: 0;
        margin-right: 6%; }
      .form.form--profile .form__label.form__label--radio.form__label--radio-selected {
        border-color: #A1B7D0;
        color: #A1B7D0; }
  .form.form--profile p.form__input {
    color: #FFFFFF; }
  .form.form--profile .form__input {
    margin-bottom: 2rem;
    /* =32px */
    background-color: #2E354A;
    font-size: 1rem;
    /* =16px */
    line-height: 2.25rem;
    /* =38px */
    text-align: left;
    text-indent: 18px; }
    .form.form--profile .form__input.form__input--radio {
      display: none; }
      .form.form--profile .form__input.form__input--radio:checked + .form__label.form__label--radio {
        border-color: #A1B7D0;
        color: #A1B7D0; }
      .form.form--profile .form__input.form__input--radio:disabled + .form__label.form__label--radio {
        cursor: auto; }
    .form.form--profile .form__input.form__input--age {
      width: 50%;
      padding: 0;
      text-align: center;
      text-indent: 0;
      -moz-appearance: textfield; }
      .form.form--profile .form__input.form__input--age::-webkit-input-placeholder {
        text-align: center; }
      .form.form--profile .form__input.form__input--age::-moz-placeholder {
        text-align: center; }
      .form.form--profile .form__input.form__input--age::-ms-input-placeholder {
        text-align: center; }
      .form.form--profile .form__input.form__input--age :-moz-placeholder {
        text-align: center; }
      .form.form--profile .form__input.form__input--age::placeholder {
        text-align: center; }
      .form.form--profile .form__input.form__input--age::-webkit-inner-spin-button, .form.form--profile .form__input.form__input--age::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
    .form.form--profile .form__input::-webkit-input-placeholder {
      text-align: left; }
    .form.form--profile .form__input::-moz-placeholder {
      text-align: left; }
    .form.form--profile .form__input::-ms-input-placeholder {
      text-align: left; }
    .form.form--profile .form__input:-moz-placeholder {
      text-align: left; }
    .form.form--profile .form__input::placeholder {
      text-align: left; }

.form.form--client {
  margin: 0 32px;
  width: auto;
  font-size: 0; }
  .form.form--client .form__column.form__column--picture {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    height: 8.625rem;
    padding-top: 2rem;
    background: url(/img/porter_logo_white-bg.svg) no-repeat center center;
    background-size: cover;
    font-family: "ProximaNova";
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer; }
    .form.form--client .form__column.form__column--picture::-webkit-file-upload-button {
      visibility: hidden; }
    .form.form--client .form__column.form__column--picture.form__column--picture--disabled {
      cursor: auto; }
  .form.form--client .form__column.form__column--picture-input {
    display: none; }
  .form.form--client .form__column.form__column--right {
    display: inline-block;
    width: 34%;
    padding-left: 4%; }
  .form.form--client .form__column.form__column--zip {
    display: inline-block;
    width: 33%; }
  .form.form--client .form__column.form__column--country {
    display: inline-block;
    width: 49%;
    padding-left: 18%; }
  .form.form--client .form__column .form__label {
    margin: 0;
    padding-bottom: 0.75rem;
    /* =12px */
    line-height: normal; }
  .form.form--client .form__column .form__input {
    margin-bottom: 2rem;
    /* =32px */
    background-color: #2E354A;
    font-size: 1rem;
    /* =16px */
    line-height: 2.25rem;
    /* =38px */
    text-align: left;
    text-indent: 18px; }
    .form.form--client .form__column .form__input::-webkit-input-placeholder {
      text-align: left; }
    .form.form--client .form__column .form__input::-moz-placeholder {
      text-align: left; }
    .form.form--client .form__column .form__input::-ms-input-placeholder {
      text-align: left; }
    .form.form--client .form__column .form__input:-moz-placeholder {
      text-align: left; }
    .form.form--client .form__column .form__input::placeholder {
      text-align: left; }
  .form.form--client .form__column p.form__input {
    color: #FFFFFF; }

.table__row .table__column.form.form--places-list {
  position: relative;
  margin: 0;
  font-size: 0; }
  .table__row .table__column.form.form--places-list .form__input {
    margin-left: -2px;
    /* to compensate the border */
    line-height: 2.5rem;
    /* =40px */
    text-align: left;
    text-indent: 18px;
    color: #FFFFFF; }
    .table__row .table__column.form.form--places-list .form__input::-webkit-input-placeholder {
      text-align: left; }
    .table__row .table__column.form.form--places-list .form__input::-moz-placeholder {
      text-align: left; }
    .table__row .table__column.form.form--places-list .form__input::-ms-input-placeholder {
      text-align: left; }
    .table__row .table__column.form.form--places-list .form__input:-moz-placeholder {
      text-align: left; }
    .table__row .table__column.form.form--places-list .form__input::placeholder {
      text-align: left; }
  .table__row .table__column.form.form--places-list.form--active .form__button {
    display: block; }
  .table__row .table__column.form.form--places-list .form__button {
    position: absolute;
    top: 0.875rem;
    /* =14px */
    right: -84px;
    display: none;
    border: 2px solid #C7F59B;
    box-sizing: content-box;
    width: 84px;
    height: 2.5rem;
    /* =40px */
    padding: 0;
    font-size: 0.875rem;
    /* =14px */
    color: #C7F59B;
    transition: background-color 0.5s, color 0.5s; }
    .table__row .table__column.form.form--places-list .form__button:hover {
      background-color: #C7F59B;
      color: #FFFFFF; }
    .table__row .table__column.form.form--places-list .form__button.form__button--door {
      top: 0.313rem;
      /* =5px */
      right: -21%; }

/*==========================================================================
NAVBAR
==========================================================================*/
.menu {
  position: relative;
  margin: 0 32px;
  border-bottom: 2px solid #293144;
  padding: 2.65rem 0;
  font-size: 0; }

.menu__logo {
  vertical-align: middle;
  max-width: 180px;
  width: 15%; }

.menu__error-top {
  position: absolute;
  top: 6.45rem;
  left: 20px;
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 0.5rem solid #59647A;
  border-right: 0.375rem solid transparent;
  border-left: 0.375rem solid transparent;
  width: 0;
  height: 0; }

.menu__error {
  position: absolute;
  top: 6.875rem;
  /* =6+8px */
  left: 0;
  width: 232px;
  height: 8rem;
  border-radius: 4px;
  background-color: #59647A;
  text-align: center;
  color: #FFFFFF; }

.menu__error-title {
  display: block;
  margin-top: 0.750rem;
  font-family: "ProximaNovaSemiBold";
  font-size: 1.125rem;
  /* =18px */
  line-height: 2.250rem;
  /* =36px */ }

.menu__error-message {
  display: block;
  font-family: "ProximaNova";
  font-size: 1.125rem;
  /* =18px */
  padding: 0.875rem 0;
  /* =14px */ }

.menu__error-link {
  font-family: "ProximaNovaSemiBold";
  font-size: 1.125rem;
  /* =18px */
  color: #C7F59B; }

.menu__list {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 60%;
  padding-left: 4.60%;
  /* =60px */ }

.menu__item {
  display: inline-block;
  padding-top: 0.3rem;
  /* to compensate for bottom empty space from the font */
  padding-left: 5rem;
  text-align: center; }
  .menu__item .menu__link {
    font-family: "ProximaNovaSemiBold";
    font-size: 1.125rem;
    /* =18px */
    color: #59647A;
    transition: color 0.5s; }
    .menu__item .menu__link:hover {
      color: #C7F59B; }
    .menu__item .menu__link.menu__link--active {
      color: #C7F59B; }

.menu__profile {
  position: relative;
  /* to have menu__open and menu__logout with position absolute */
  float: right;
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  text-align: right; }

.menu__icon {
  display: inline-block;
  vertical-align: middle;
  width: 172px;
  font-size: 1.125rem;
  /* =18px */
  text-align: center;
  color: #59647A;
  cursor: pointer;
  transition: color 0.5s; }
  .menu__icon:hover {
    color: #A1B7D0; }

.menu__photo {
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #2E354A;
  font-family: "ProximaNovaSemiBold";
  font-size: 1.125rem;
  /* =18px */
  line-height: 58px;
  text-align: center;
  color: #A1B7D0; }

.menu__open {
  position: absolute;
  top: -2.65rem;
  right: 90px;
  /* Same as profile picture total width */
  z-index: 1;
  display: none;
  vertical-align: middle;
  width: 172px;
  /* Same width occupied by the regular menu icon */
  background-color: #2E354A;
  text-align: center;
  cursor: pointer; }
  .menu__open.menu__open--active {
    display: block; }

.icon.icon-menu_active:before {
  display: inline-block;
  margin: 3.6rem 0 4.4rem;
  font-size: 1.750rem;
  color: #C7F59B; }

.menu__open-list {
  margin: 0;
  padding: 0; }

.menu__open-item {
  display: block;
  margin-bottom: 2rem;
  /* =32px */
  line-height: 1.625rem;
  /* =26px */ }

.menu__open-link {
  text-decoration: none;
  font-family: "ProximaNovaSemiBold";
  font-size: 1.250rem;
  /* =20px */
  color: #FFFFFF;
  transition: color 0.5s; }
  .menu__open-link:hover {
    color: #C7F59B; }

.menu__logout {
  position: absolute;
  top: 0;
  right: 180px;
  /* Width of the parent + 8px for margin */
  display: none;
  vertical-align: middle;
  width: 220px;
  height: 100%;
  background-color: #FFFFFF;
  cursor: pointer; }
  .menu__logout.menu__logout--active {
    display: block; }

.menu__logout-question {
  margin: 3rem 0 4.8125rem;
  font-family: "ProximaNova";
  font-size: 1.5rem;
  color: #59647A; }

.menu__logout-button {
  border: 2px solid #59647A;
  width: 80px;
  height: 2rem;
  /* =32px */
  background-color: transparent;
  font-family: "ProximaNovaSemiBold";
  font-size: 1rem;
  color: #59647A;
  transition: all 0.5s; }
  .menu__logout-button:hover {
    background-color: #59647A;
    color: #FFFFFF; }
  .menu__logout-button.menu__logout-button--inverse {
    margin-left: 12px;
    background-color: #59647A;
    color: #FFFFFF; }
    .menu__logout-button.menu__logout-button--inverse:hover {
      background-color: transparent;
      color: #59647A; }

.menu__delete {
  position: absolute;
  top: 198px;
  right: 59px;
  display: none;
  vertical-align: middle;
  width: 220px;
  background-color: #FFFFFF;
  cursor: pointer; }
  .menu__delete.menu__delete--active {
    display: block; }

.menu__delete-question {
  margin: 2.188rem 0;
  /* =35px */
  font-family: "ProximaNova";
  font-size: 1.5rem;
  text-align: center;
  color: #59647A; }

.menu__delete-button {
  margin-bottom: 2rem;
  /* =32px */
  border: 2px solid #59647A;
  width: 80px;
  height: 2rem;
  /* =32px */
  background-color: transparent;
  font-family: "ProximaNovaSemiBold";
  font-size: 1rem;
  color: #59647A;
  transition: all 0.5s; }
  .menu__delete-button:hover {
    background-color: #59647A;
    color: #FFFFFF; }
  .menu__delete-button.menu__delete-button--inverse {
    margin-left: 12px;
    margin-right: 22px;
    background-color: #59647A;
    color: #FFFFFF; }
    .menu__delete-button.menu__delete-button--inverse:hover {
      background-color: transparent;
      color: #59647A; }

/*==========================================================================
TABLE
==========================================================================*/
.table {
  font-size: 0;
  /* to avoid white space */ }
  .table.table--shadow {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(23, 29, 42, 0.05);
    -moz-box-shadow: 0px 5px 10px 0px rgba(23, 29, 42, 0.05);
    box-shadow: 0px 5px 10px 0px rgba(23, 29, 42, 0.05); }
  .table.table--admin-account {
    margin-bottom: 1.125rem;
    /* =18px */ }

.table__column {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .table__column.table__column--user-company {
    width: 24%;
    padding-right: 12px; }
  .table__column.table__column--user-place {
    width: 33%;
    padding-right: 12px; }
  .table__column.table__column--user-role {
    width: 16%;
    padding-right: 12px;
    text-align: center; }
  .table__column.table__column--user-lastaccess {
    width: 19%;
    text-align: center; }
  .table__column.table__column--user-list-online {
    width: 2.5%;
    text-align: center; }
  .table__column.table__column--user-list-name, .table__column.table__column--user-list-location {
    width: 17%;
    padding-right: 1%; }
  .table__column.table__column--user-list-email, .table__column.table__column--user-list-phone {
    width: 20%;
    padding-right: 1%; }
  .table__column.table__column--user-list-registry {
    width: 15%; }
  .table__column.table__column--user-list-arrow {
    width: 4.5%; }
  .table__column.table__column--homepage-stats {
    width: 50%; }
  .table__column.table__column--homepage-stats-issues {
    width: 100%; }
  .table__column.table__column--homepage-snippet {
    width: 34%;
    padding-right: 4%; }
  .table__column.table__column--homepage-snippet-right {
    width: 24%; }
  .table__column.table__column--places-list-toexpand {
    width: 4.5%;
    padding-right: 4.5%;
    text-align: right; }
  .table__column.table__column--places-list-client {
    width: 16%; }
  .table__column.table__column--places-list-place {
    overflow: visible;
    width: 21%;
    padding-left: 1%; }
  .table__column.table__column--places-list-doors, .table__column.table__column--places-list-users {
    width: 15%;
    text-align: center; }
  .table__column.table__column--places-list-created {
    width: 15%;
    text-align: center;
    padding-right: 1%; }
  .table__column.table__column--places-list-edit {
    width: 7%;
    text-align: center; }
  .table__column.table__column--places-list-restrictions, .table__column.table__column--places-list-users-expanded {
    width: 15%;
    text-align: center; }
  .table__column.table__column--places-list-move {
    width: 4%;
    text-align: center; }
  .table__column.table__column--places-list-access {
    width: 6%;
    text-align: center; }
  .table__column.table__column--places-list-door {
    overflow: visible;
    width: 21.5%;
    padding-left: 3%;
    padding-right: 1%; }
  .table__column.table__column--places-list-created-expanded {
    width: 15%;
    text-align: center;
    padding-right: 1%; }
  .table__column.table__column--places-list-edit-expanded {
    width: 7%;
    text-align: center; }
  .table__column.table__column--admin-account-name {
    width: 27%;
    padding-right: 2%; }
  .table__column.table__column--admin-account-email {
    width: 41%; }
  .table__column.table__column--admin-account-close {
    width: 30%;
    text-align: right; }

.table__row {
  display: block;
  padding: 1.438rem 32px;
  /* =23px */ }
  .table__row:hover .table__column-icon.icon.icon-right {
    transition: color 0.5s;
    color: #C7F59B; }
  .table__row .table__column {
    font-family: "ProximaNova";
    font-size: 1rem;
    /* =16px */
    color: #FFFFFF; }
  .table__row.table__row--table-head {
    padding: 1rem 32px;
    /* =16px */ }
    .table__row.table__row--table-head .table__column {
      font-family: "ProximaNovaSemiBold";
      font-size: 0.875rem;
      /* =14px */
      color: #59647A; }
  .table__row.table__row--light {
    background-color: #2E354A; }
  .table__row.table__row--bigfont {
    position: relative; }
    .table__row.table__row--bigfont .table__column {
      font-size: 1.125rem;
      /* =18px */ }
  .table__row.table__row--smallfont .table__column {
    font-size: 0.875rem;
    /* =14px */ }
  .table__row.table__row--stats-head {
    padding: 1.125rem 0 0;
    /* =18px */ }
    .table__row.table__row--stats-head .table__column {
      padding: 0.688rem 0;
      /* =11px */
      font-family: "ProximaNovaSemiBold";
      text-align: center;
      color: #A1B7D0; }
  .table__row.table__row--stats-number {
    padding: 0; }
    .table__row.table__row--stats-number .table__column {
      padding: 0.563rem 0;
      /* =7px */
      text-align: center;
      font-size: 2.5rem;
      /* =40px */ }
  .table__row.table__row--snippet-head {
    margin-top: 1.125rem;
    /* =18px */
    padding: 0 24px; }
    .table__row.table__row--snippet-head .table__column {
      padding-top: 0.625rem;
      /* =10px */
      padding-bottom: 0.625rem;
      /* =10px */
      font-family: "ProximaNovaSemiBold";
      font-size: 0.875rem;
      /* =14px */
      color: #59647A; }
  .table__row.table__row--snippet {
    padding: 0 24px; }
    .table__row.table__row--snippet .table__column {
      padding-top: 1.250rem;
      /* =20px */
      padding-bottom: 1.250rem;
      /* =20px */ }
  .table__row.table__row--snippet-bottom {
    padding: 0 24px; }
    .table__row.table__row--snippet-bottom .table__column {
      padding-top: 1.250rem;
      /* =20px */
      padding-bottom: 1.250rem;
      /* =20px */ }
      .table__row.table__row--snippet-bottom .table__column .table__see {
        font-family: "ProximaNovaSemiBold";
        font-size: 0.875rem;
        /* =14px */
        line-height: 1rem;
        color: #59647A; }
        .table__row.table__row--snippet-bottom .table__column .table__see:hover {
          color: #C7F59B; }
        .table__row.table__row--snippet-bottom .table__column .table__see .table__see-link, .table__row.table__row--snippet-bottom .table__column .table__see .icon.icon-see {
          display: inline-block;
          vertical-align: middle; }
        .table__row.table__row--snippet-bottom .table__column .table__see .icon.icon-see {
          width: 32px;
          height: 1rem; }
  .table__row.table__row--pendent .table__column--admin-account-name,
  .table__row.table__row--pendent .table__column--admin-account-email,
  .table__row.table__row--pendent .icon-close {
    color: #59647A; }

.table__column-icon {
  cursor: pointer; }
  .table__column-icon.icon-right {
    color: #A1B7D0; }
  .table__column-icon.icon-expand {
    vertical-align: middle;
    color: #A1B7D0; }
  .table__column-icon.icon-edit {
    vertical-align: middle;
    transition: color 0.5s;
    font-size: 0.375rem;
    /* =6px */
    color: #A1B7D0; }
    .table__column-icon.icon-edit:hover {
      color: #21FFD3; }
    .table__column-icon.icon-edit.icon-edit-expanded {
      font-size: 0.37rem; }
  .table__column-icon.icon-access {
    display: inline-block;
    vertical-align: middle;
    transition: border-color 0.5s, color 0.5s;
    width: 60px;
    border: solid #232B3C 1px;
    font-size: 1.25rem;
    /* =20px */
    line-height: 1.875rem;
    /* =30px */
    color: #A1B7D0; }
    .table__column-icon.icon-access:hover {
      border-color: #21FFD3;
      color: #21FFD3; }
  .table__column-icon.icon-move {
    vertical-align: middle;
    transition: color 0.5s;
    font-size: 0.625rem;
    /* =10px */
    color: #A1B7D0;
    cursor: move; }
    .table__column-icon.icon-move:hover {
      color: #21FFD3; }
  .table__column-icon.icon-close {
    color: #A1B7D0;
    transition: color 0.5s; }
    .table__column-icon.icon-close:hover {
      color: #21FFD3; }

.table.table--list {
  overflow: hidden; }
  .table.table--list .table__row {
    padding: 0;
    line-height: 4.5rem;
    /* =72px */
    background-color: #293144; }
    .table.table--list .table__row .form__button {
      background-color: #2E354A; }
      .table.table--list .table__row .form__button:hover {
        background-color: #C7F59B; }
    .table.table--list .table__row .form__input {
      background-color: #2E354A; }
      .table.table--list .table__row .form__input[disabled] {
        background: none; }
    .table.table--list .table__row.table__row--table-head {
      line-height: 3.875rem;
      /* =62px */ }
      .table.table--list .table__row.table__row--table-head .table__column--places-list-place {
        text-indent: 18px; }
    .table.table--list .table__row.table__row--light {
      background-color: #2E354A; }
      .table.table--list .table__row.table__row--light .form__button {
        background-color: #293144; }
        .table.table--list .table__row.table__row--light .form__button:hover {
          background-color: #C7F59B; }
      .table.table--list .table__row.table__row--light > form > .form__input {
        background-color: #293144; }
        .table.table--list .table__row.table__row--light > form > .form__input[disabled] {
          background: none; }
    .table.table--list .table__row.table__row--dropzone {
      border: 2px dashed #21FFD3;
      overflow: hidden; }
      .table.table--list .table__row.table__row--dropzone .table__expanded:after {
        display: none; }
  .table.table--list .table__expanded {
    position: relative;
    width: 100%;
    /* So the percentages of the children are relative to the main table. */ }
    .table.table--list .table__expanded:after {
      content: "";
      position: absolute;
      top: 0;
      left: 88%;
      display: block;
      width: 1%;
      height: 100%;
      background: #293144; }
    .table.table--list .table__expanded.table__row {
      display: none;
      /* Only shows when table__row--is-expanded */
      padding: 0 1% 4rem 11.5%;
      background-color: #293144; }
      .table.table--list .table__expanded.table__row .table__row--table-grouphead {
        border-bottom: 2px solid #232B3C;
        padding-top: 0.5rem;
        /* until we add group doors */ }
      .table.table--list .table__expanded.table__row .table__row--table-head {
        line-height: 3rem;
        /* =48px */ }
        .table.table--list .table__expanded.table__row .table__row--table-head .table__column {
          font-size: 0.875rem;
          /* =14px */ }
          .table.table--list .table__expanded.table__row .table__row--table-head .table__column.table__column--places-list-door {
            text-indent: 18px; }
      .table.table--list .table__expanded.table__row .table__row--smallfont {
        position: relative;
        line-height: 3.375rem;
        /* =54px */ }
        .table.table--list .table__expanded.table__row .table__row--smallfont:before {
          content: "";
          position: absolute;
          left: -34px;
          top: -1.688rem;
          /* =27px */
          display: inline-block;
          border-bottom: 2px solid #21FFD3;
          border-left: 2px solid #21FFD3;
          width: 22px;
          height: 3.55rem;
          /* =56px */ }
        .table.table--list .table__expanded.table__row .table__row--smallfont.table__row--hide-before {
          border: 2px dashed #21FFD3; }
          .table.table--list .table__expanded.table__row .table__row--smallfont.table__row--hide-before:before {
            display: none; }
          .table.table--list .table__expanded.table__row .table__row--smallfont.table__row--hide-before:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            width: 12.5%;
            height: 100%;
            z-index: 2;
            background-color: #293144; }
          .table.table--list .table__expanded.table__row .table__row--smallfont.table__row--hide-before.table__row--light:after {
            background-color: #2E354A; }
        .table.table--list .table__expanded.table__row .table__row--smallfont .table__column {
          vertical-align: middle; }
  .table.table--list .table__row--is-expanded .table__column-icon.icon.icon-expand {
    color: #21FFD3; }
    .table.table--list .table__row--is-expanded .table__column-icon.icon.icon-expand:before {
      content: "\e931"; }
  .table.table--list .table__row--is-expanded .table__expanded.table__row {
    display: block; }

/*==========================================================================
PAGE HEADER
==========================================================================*/
.page-header {
  display: table;
  width: 100%;
  height: 5rem;
  /* =80px */ }

.page-header__column {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  .page-header__column.page-header__column--left {
    width: 25%;
    text-align: left; }
  .page-header__column.page-header__column--right {
    width: 25%;
    text-align: right; }
  .page-header__column.page-header__column--large {
    width: 75%; }
  .page-header__column.page-header__column--left-places {
    width: 15%;
    text-align: left; }
  .page-header__column.page-header__column--right-places {
    width: 85%;
    text-align: right; }

.page-header__back-link {
  font-family: "ProximaNovaSemiBold";
  font-size: 1rem;
  color: #FFFFFF; }
  .page-header__back-link:hover {
    color: #C7F59B; }
  .page-header__back-link:before {
    content: "\e91c";
    position: relative;
    top: 0.1rem;
    display: inline-block;
    width: 32px;
    font-family: "porter-icons";
    text-align: center; }

.page-header__title {
  display: inline;
  font-family: "ProximaNovaSemiBold";
  font-size: 2rem;
  /* =32px */
  color: #FFFFFF; }

.page-header__button {
  transition: border-color 0.5s, color 0.5s;
  margin-left: 0.5rem;
  border: 2px solid #2E354A;
  height: 2.5rem;
  /* =40px */
  padding: 0;
  background-color: #232B3C;
  font-size: 1rem;
  /* =16px */
  line-height: 2.5rem;
  /* =40px */
  color: #2E354A; }
  .page-header__button.page-header__button--edit-profile {
    width: 186px;
    font-size: 0.875rem;
    color: #A1B7D0; }
  .page-header__button.page-header__button--add-place {
    margin-left: 50px;
    width: 186px;
    font-size: 0.875rem;
    color: #21FFD3; }
    .page-header__button.page-header__button--add-place:hover {
      border-color: #21FFD3;
      color: #21FFD3; }
  .page-header__button.page-header__button--save {
    width: 140px; }
    .page-header__button.page-header__button--save.page-header__button--save-place {
      width: 186px;
      font-size: 0.875rem; }
  .page-header__button.page-header__button--save-active {
    width: 140px;
    color: #C7F59B; }
  .page-header__button.page-header__button--createaccount {
    width: 224px; }
    .page-header__button.page-header__button--createaccount.page-header__button--createaccount-active {
      color: #C7F59B; }
  .page-header__button.page-header__button--delete {
    position: relative;
    width: 80px;
    color: #A1B7D0;
    transition: none; }
    .page-header__button.page-header__button--delete.page-header__button--delete-active {
      background-color: #FFFFFF;
      border-color: #FFFFFF; }
  .page-header__button:not(.page-header__button--delete):not(.page-header__button--add-place):hover {
    border-color: #C7F59B;
    color: #C7F59B; }
  .page-header__button .page-header__button-icon {
    padding-left: 1.5rem; }
    .page-header__button .page-header__button-icon.icon-delete {
      padding: 0;
      font-size: 1.125rem; }

.page-header__icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  font-size: 1.75rem;
  /* =28px */
  text-align: center;
  color: #A1B7D0; }

.page-header__list-name {
  padding-left: 1.25rem;
  /* =20px */
  font-family: "ProximaNovaSemiBold";
  font-size: 1rem;
  /* =16px */
  color: #FFFFFF; }
  .page-header__list-name .page-header__list-total {
    padding-left: 10px;
    font-family: "ProximaNova"; }

.page-header__search-label {
  display: inline-block;
  margin: 0 0 0 3.125rem;
  /* =50px */
  padding-right: 20px;
  font-size: 0.875rem;
  /* =14px */
  line-height: 2rem;
  /* =32px */
  color: #59647A; }

.page-header__search-input {
  display: inline-block;
  width: 262px;
  background-color: #2E354A;
  font-size: 1rem;
  /* =16px */
  line-height: 2.5rem;
  /* =40px */
  text-align: left;
  text-indent: 18px; }
  .page-header__search-input::-webkit-input-placeholder {
    color: #59647A;
    text-align: left; }
  .page-header__search-input::-moz-placeholder {
    color: #59647A;
    text-align: left; }
  .page-header__search-input::-ms-input-placeholder {
    color: #59647A;
    text-align: left; }
  .page-header__search-input:-moz-placeholder {
    color: #59647A;
    text-align: left; }
  .page-header__search-input::placeholder {
    color: #59647A;
    text-align: left; }

.page-header__sort-select {
  width: 186px;
  border: none;
  border-radius: 0;
  padding-left: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/img/icon-down.svg) #232B3C no-repeat 90% center;
  height: 2.5rem;
  font-family: "ProximaNova";
  color: #A1B7D0;
  border: 2px solid #2E354A; }
  .page-header__sort-select:focus {
    outline: none; }

/*==========================================================================
PAGE COLUMN
==========================================================================*/
.page-column {
  float: left;
  vertical-align: top;
  width: 52.5%;
  min-height: 33.5rem;
  /* =536px */
  background-color: #293144; }
  .page-column.page-column--right {
    width: 47%;
    margin-left: 0.5%; }
  .page-column.page-column--full {
    width: 100%; }
  .page-column.page-column--homepage {
    margin-left: 5%;
    width: 30%;
    min-height: 32.750rem;
    /* =524px */ }
  .page-column.page-column--homepage-larger {
    width: 65%;
    min-height: 32.750rem;
    /* =524px */ }
  .page-column.page-column--nomargin {
    margin: 0; }

.page-column__coming-soon {
  position: relative; }
  .page-column__coming-soon .page-column__coming-soon-logo {
    float: right;
    height: 32.750rem;
    /* =524px */ }
  .page-column__coming-soon .page-column__coming-soon-text {
    position: absolute;
    top: 249px;
    left: 68px;
    font-family: "ProximaNovaSemiBold";
    font-size: 1.5rem;
    color: #A1B7D0; }

.page-column__header {
  margin: 0 32px;
  padding: 1.688rem 0; }

.page-column__header-title {
  font-family: "ProximaNovaSemiBold";
  font-size: 1.125rem;
  /* =18px */
  color: #21FFD3; }

.page-column__header-date {
  float: right;
  font-family: "ProximaNovaSemiBold";
  font-size: 0.75rem;
  /* =12px */
  color: #59647A; }
  .page-column__header-date.page-column__header-date--light {
    color: #A1B7D0; }

.page-column__no-results {
  padding: 5.031rem 0;
  /* =80.5px */
  font-size: 1.250rem;
  /* =20px */
  text-align: center;
  color: #FFFFFF; }

.page-column__add-result {
  margin-left: 2%;
  border: 2px solid #232B3C;
  width: 96%;
  height: 3.5rem;
  /* =56px */
  background-color: transparent;
  color: #A1B7D0;
  transition: border-color 0.5s, color 0.5s; }
  .page-column__add-result .page-column__add-result-icon {
    font-size: 1.125rem;
    /* =18px */ }
  .page-column__add-result:hover {
    color: #21FFD3;
    border-color: #21FFD3; }

.lightbox {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: -150%;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 13rem;
  background-color: rgba(35, 43, 60, 0.9);
  transition: visibility 0s 0.5s, opacity 0.5s, top 0.5s; }
  .lightbox.lightbox--open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index: 1;
    top: 0; }
  .lightbox.lightbox--admin {
    width: 145%; }

.access {
  width: 998px;
  height: 44.750rem;
  margin: 0 auto;
  background-color: #293144; }

.access__header {
  margin: 0 32px 0 32px;
  border-bottom: 2px solid #232B3C;
  padding: 2rem 0 1.5rem 0; }

.access__header-id {
  display: inline-block;
  margin-right: 24px;
  width: 164px;
  background-color: #232B3C;
  line-height: 2.500rem;
  /* =40px */
  color: #21FFD3; }
  .access__header-id .access__header-id-icon {
    vertical-align: middle;
    margin-left: 28px;
    font-size: 1.5rem; }
  .access__header-id .access__header-id-name {
    float: right;
    margin-right: 42px;
    font-family: "ProximaNovaSemiBold";
    font-size: 0.875rem;
    /* =14px */ }

.access__header-title {
  display: inline-block;
  font-family: "ProximaNovaSemiBold";
  color: #FFFFFF; }

.access__header-buttons {
  float: right; }

.access__header-button {
  transition: border-color 0.5s, color 0.5s;
  border: 2px solid #2E354A;
  height: 2.5rem;
  /* =40px */
  padding: 0;
  background-color: transparent;
  font-size: 1rem;
  /* =16px */
  line-height: 2.5rem;
  /* =40px */ }
  .access__header-button.access__header__button--save {
    width: 140px;
    color: #2E354A; }
    .access__header-button.access__header__button--save.access__header-button--save-active {
      color: #C7F59B; }
    .access__header-button.access__header__button--save:hover {
      border-color: #C7F59B;
      color: #C7F59B; }
    .access__header-button.access__header__button--save .access__header-button-icon {
      padding-left: 1.5rem; }
  .access__header-button.access__header__button--close {
    margin-left: 0.750rem;
    /* =12px */
    width: 56px;
    color: #A1B7D0; }
    .access__header-button.access__header__button--close:hover {
      border-color: #21FFD3;
      color: #21FFD3; }

.access__content {
  margin: 0 32px 0 32px;
  font-size: 0; }

.access__list {
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
  width: 382px; }
  .access__list .access__list-title {
    display: inline-block;
    margin: 0.750rem 0 0.5rem;
    /* =12px, 8px */
    height: 3.500rem;
    /* =56px */
    font-family: "ProximaNovaSemiBold";
    font-size: 0.875rem;
    /* =14px */
    line-height: 3.5rem;
    color: #A1B7D0; }

.access__restrictions {
  display: inline-block;
  width: 528px;
  text-align: center; }
  .access__restrictions .access__restrictions-title {
    display: inline-block;
    margin: 0.750rem 0 0.5rem;
    /* =12px, 8px */
    height: 3.500rem;
    /* =56px */
    font-family: "ProximaNova";
    font-size: 1rem;
    /* =16px */
    line-height: 3.5rem;
    color: #FFFFFF; }

.access__restrictions-table {
  display: inline-block;
  width: 100%;
  height: 31rem;
  /* =496px */
  background-color: #2E354A; }

.access__list-form {
  background-color: #232B3C;
  height: 4.500rem;
  /* =72px */
  line-height: 4.500rem;
  /* =72px */ }
  .access__list-form .form-input {
    vertical-align: middle;
    margin: 0 12px;
    border: 2px solid transparent;
    width: 262px;
    /* =266px - 2*2 = 262px */
    height: 2.375rem;
    /* =40px - 2 = 38px*/
    background-color: #293144;
    font-size: 1rem;
    /* =16px */
    text-indent: 24px;
    color: #FFFFFF; }
    .access__list-form .form-input:focus {
      border: 2px solid #A1B7D0;
      outline: none; }
    .access__list-form .form-input::-webkit-input-placeholder {
      color: #59647A;
      text-align: left;
      letter-spacing: initial; }
    .access__list-form .form-input::-moz-placeholder {
      color: #59647A;
      text-align: left;
      letter-spacing: initial; }
    .access__list-form .form-input::-ms-input-placeholder {
      color: #59647A;
      text-align: left;
      letter-spacing: initial; }
    .access__list-form .form-input:-moz-placeholder {
      color: #59647A;
      text-align: left;
      letter-spacing: initial; }
    .access__list-form .form-input::placeholder {
      color: #59647A;
      text-align: left;
      letter-spacing: initial; }
  .access__list-form .form-button {
    vertical-align: middle;
    transition: border-color 0.5s, color 0.5s;
    border: 2px solid #2E354A;
    width: 80px;
    height: 2.375rem;
    /* =40px - 2 = 38px*/
    background-color: transparent;
    font-size: 0.875rem;
    /* =14px */
    line-height: 2.375rem;
    /* =40px */
    color: #A1B7D0; }
    .access__list-form .form-button:hover {
      border-color: #21FFD3;
      color: #21FFD3; }
  .access__list-form.access__list-form--edit {
    margin-top: 0.750rem;
    /* =12px */
    width: 394px;
    background-color: #2E354A; }
    .access__list-form.access__list-form--edit .form-button {
      border-color: transparent; }
      .access__list-form.access__list-form--edit .form-button .form-button-icon.icon-delete {
        font-size: 1.25rem; }
      .access__list-form.access__list-form--edit .form-button:hover {
        border-color: #21FFD3;
        color: #21FFD3; }
    .access__list-form.access__list-form--edit.access__list-form--disable {
      height: 3.500rem;
      /* =56px */
      line-height: 3.500rem;
      /* =56px */
      width: 382px; }
      .access__list-form.access__list-form--edit.access__list-form--disable .form-input {
        width: 96%;
        height: 100%;
        background-color: #2E354A;
        cursor: pointer; }
        .access__list-form.access__list-form--edit.access__list-form--disable .form-input:hover {
          color: #21FFD3; }
      .access__list-form.access__list-form--edit.access__list-form--disable .form-button {
        display: none; }

.access__list-items {
  display: inline-block;
  overflow-y: scroll;
  height: 26.500rem;
  /* =424px */ }

.access__restrictions-menu {
  display: block;
  height: 4.5rem;
  /* =72px */
  margin-bottom: 1rem;
  /* =16px */ }
  .access__restrictions-menu .access__restrictions-menu-item {
    display: inline-block;
    border-bottom: 4px solid transparent;
    width: 50%;
    font-family: "ProximaNovaSemiBold";
    font-size: 1.125rem;
    /* =18px */
    line-height: 4.250rem;
    /* =68px */
    color: #59647A; }
    .access__restrictions-menu .access__restrictions-menu-item.access__restrictions-menu-item--selected {
      color: #A1B7D0;
      border-bottom: 4px solid #A1B7D0; }

.restrictions .restrictions__row {
  height: 6rem;
  /* =96px */ }

.restrictions .restrictions__title {
  display: inline-block;
  margin-left: 24px;
  width: 96px;
  font-family: "ProximaNovaSemiBold";
  font-size: 0.875rem;
  /* =14px */
  height: 6rem;
  /* =96px */
  color: #FFFFFF; }

.restrictions .restrictions__content {
  position: relative;
  display: inline-block;
  width: 312px; }

.restrictions .restrictions__button {
  display: inline-block;
  margin: 0 0.750rem;
  /* =12px */
  width: 72px; }

.new-admin {
  position: relative;
  width: 528px;
  height: 31rem;
  /* =496px */
  margin: 0 auto;
  background-color: #2E354A; }
  .new-admin .corner {
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border-color: #21FFD3; }
  .new-admin .top {
    top: 0px;
    border-top-style: solid; }
  .new-admin .right {
    right: 0px;
    border-right-style: solid; }
  .new-admin .bottom {
    bottom: 0px;
    border-bottom-style: solid; }
  .new-admin .left {
    left: 0px;
    border-left-style: solid; }
  .new-admin .new-admin__title {
    height: 9rem;
    /* =144px */
    font-size: 1.250rem;
    /* =20px */
    text-align: center;
    line-height: 9rem;
    /* =144px */
    color: #FFFFFF; }
  .new-admin .new-admin__form {
    text-align: center;
    height: 2.5rem;
    /* =40px */ }
    .new-admin .new-admin__form .form-input {
      vertical-align: middle;
      margin: 0 12px 0 0;
      border: 2px solid transparent;
      width: 322px;
      height: 2.375rem;
      /* =40px - 2 = 38px*/
      background-color: #293144;
      font-size: 1rem;
      /* =16px */
      text-indent: 18px;
      color: #FFFFFF; }
      .new-admin .new-admin__form .form-input:focus {
        border: 2px solid #A1B7D0;
        outline: none; }
      .new-admin .new-admin__form .form-input::-webkit-input-placeholder {
        color: #59647A;
        text-align: left;
        letter-spacing: initial; }
      .new-admin .new-admin__form .form-input::-moz-placeholder {
        color: #59647A;
        text-align: left;
        letter-spacing: initial; }
      .new-admin .new-admin__form .form-input::-ms-input-placeholder {
        color: #59647A;
        text-align: left;
        letter-spacing: initial; }
      .new-admin .new-admin__form .form-input:-moz-placeholder {
        color: #59647A;
        text-align: left;
        letter-spacing: initial; }
      .new-admin .new-admin__form .form-input::placeholder {
        color: #59647A;
        text-align: left;
        letter-spacing: initial; }
    .new-admin .new-admin__form .form-button {
      vertical-align: middle;
      transition: border-color 0.5s, color 0.5s;
      border: 2px solid #293144;
      width: 100px;
      height: 2.375rem;
      /* =40px - 2 = 38px*/
      background-color: transparent;
      font-size: 0.875rem;
      /* =14px */
      line-height: 2.375rem;
      /* =40px - 2 = 38px*/
      color: #A1B7D0; }
      .new-admin .new-admin__form .form-button:hover {
        border-color: #21FFD3;
        color: #21FFD3; }
  .new-admin .new-admin__alert {
    margin: 3.5rem 0;
    /* =56px */
    height: 2.5rem;
    /* =40px */
    font-size: 1.125rem;
    /* =18px */
    text-align: center;
    color: #FFFFFF; }
    .new-admin .new-admin__alert.new-admin__alert--success {
      font-family: "ProximaNovaSemiBold";
      line-height: 2.5rem;
      /* =40px */
      color: #21FFD3; }
  .new-admin .new-admin__buttons {
    text-align: center;
    height: 2.5rem;
    /* =40px */ }
    .new-admin .new-admin__buttons .new-admin__button {
      vertical-align: middle;
      transition: border-color 0.5s, color 0.5s;
      border: 2px solid #293144;
      width: 244px;
      height: 2.375rem;
      /* =40px - 2 = 38px*/
      background-color: transparent;
      font-size: 0.875rem;
      /* =14px */
      line-height: 2.375rem;
      /* =40px - 2 = 38px*/
      color: #FFFFFF; }
      .new-admin .new-admin__buttons .new-admin__button:hover {
        border-color: #21FFD3;
        color: #21FFD3; }
      .new-admin .new-admin__buttons .new-admin__button.new-admin__button--send-invite {
        margin-left: 12px;
        color: #A1B7D0; }
        .new-admin .new-admin__buttons .new-admin__button.new-admin__button--send-invite .new-admin-button-icon.icon-see {
          float: right;
          margin: 0.688rem 24px 0 0;
          /* =11px */ }
      .new-admin .new-admin__buttons .new-admin__button.new-admin__button--skip {
        width: 178px; }
