.lightbox {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: -150%;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 13rem;
	background-color: rgba($color8, 0.9);
	transition: visibility 0s 0.5s, opacity 0.5s, top 0.5s;

	&.lightbox--open {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
		z-index: 1;
		top: 0;
	}

	&.lightbox--admin {
		width: 145%;
	}
}

.access {
	width: 998px;
	height: 44.750rem;
	margin: 0 auto;
	background-color: $color7;
}

.access__header {
	margin: 0 32px 0 32px;
	border-bottom: 2px solid $color8;
	padding: 2rem 0 1.5rem 0;
}

.access__header-id {
	display: inline-block;
	margin-right: 24px;
	width: 164px;
	background-color: $color8;
	line-height: 2.500rem; /* =40px */
	color: $color3;

	.access__header-id-icon {
		vertical-align: middle;
		margin-left: 28px;
		font-size: 1.5rem;
	}

	.access__header-id-name {
		float: right;
		margin-right: 42px;
		font-family: $font-bold;
		font-size: 0.875rem; /* =14px */
	}
}

.access__header-title {
	display: inline-block;
	font-family: $font-bold;
	color: $color1;
}

.access__header-buttons {
	float: right;
}

.access__header-button {
	transition: border-color 0.5s, color 0.5s;
	border: 2px solid $color6;
	height: 2.5rem; /* =40px */
	padding: 0;
	background-color: transparent;
	font-size: 1rem; /* =16px */
	line-height: 2.5rem; /* =40px */

	&.access__header__button--save {
		width: 140px;
		color: $color6;

		&.access__header-button--save-active {
			color: $color2;
		}

		&:hover {
			border-color: $color2;
			color: $color2;
		}

		.access__header-button-icon {
			padding-left: 1.5rem;
		}
	}

	&.access__header__button--close {
		margin-left: 0.750rem; /* =12px */
		width: 56px;
		color: $color4;

		&:hover {
			border-color: $color3;
			color: $color3;
		}
	}
}

.access__content {
	margin: 0 32px 0 32px;
	font-size: 0;
}

.access__list {
	display: inline-block;
	vertical-align: top;
	margin: 0 12px;
	width: 382px;

	.access__list-title {
		display: inline-block;
		margin: 0.750rem 0 0.5rem;  /* =12px, 8px */
		height: 3.500rem; /* =56px */
		font-family: $font-bold;
		font-size: 0.875rem; /* =14px */
		line-height: 3.5rem;
		color: $color4;
	}
}

.access__restrictions {
	display: inline-block;
	width: 528px;
	text-align: center;

	.access__restrictions-title {
		display: inline-block;
		margin: 0.750rem 0 0.5rem;  /* =12px, 8px */
		height: 3.500rem; /* =56px */
		font-family: $font-regular;
		font-size: 1rem; /* =16px */
		line-height: 3.5rem;
		color: $color1;
	}
}

.access__restrictions-table {
	display: inline-block;
	width: 100%;
	height: 31rem; /* =496px */
	background-color: $color6;
}

.access__list-form {
	background-color: $color8;
	height: 4.500rem; /* =72px */
	line-height: 4.500rem; /* =72px */

	.form-input {
		vertical-align: middle;
		margin: 0 12px;
		border: 2px solid transparent;
		width: 262px; /* =266px - 2*2 = 262px */
		height: 2.375rem; /* =40px - 2 = 38px*/
		background-color: $color7;
		font-size: 1rem; /* =16px */
		text-indent: 24px;
		color: $color1;

		&:focus {
			border: 2px solid $color4;
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: $color5;
			text-align: left;
			letter-spacing: initial;
		}
		&::-moz-placeholder {
			color: $color5;
			text-align: left;
			letter-spacing: initial;
		}
		&::-ms-input-placeholder {
			color: $color5;
			text-align: left;
			letter-spacing: initial;
		}
		&:-moz-placeholder {
			color: $color5;
			text-align: left;
			letter-spacing: initial;
		}
		&::placeholder {
			color: $color5;
			text-align: left;
			letter-spacing: initial;
		}
	}

	.form-button {
		vertical-align: middle;
		transition: border-color 0.5s, color 0.5s;
		border: 2px solid $color6;
		width: 80px;
		height: 2.375rem; /* =40px - 2 = 38px*/
		background-color: transparent;
		font-size: 0.875rem; /* =14px */
		line-height: 2.375rem; /* =40px */
		color: $color4;

		&:hover {
			border-color: $color3;
			color: $color3;
		}
	}

	// Access Profiles already created
	&.access__list-form--edit {
		margin-top: 0.750rem; /* =12px */
		width: 394px;
		background-color: $color6;

		.form-button {
			border-color: transparent;

			.form-button-icon.icon-delete {
				font-size: 1.25rem;
			}

			&:hover {
				border-color: $color3;
				color: $color3;
			}
		}

		// Access profiles created, when not clicked
		&.access__list-form--disable {
			height: 3.500rem; /* =56px */
			line-height: 3.500rem; /* =56px */
			width: 382px;

			.form-input {
				width: 96%;
				height: 100%;
				background-color: $color6;
				cursor: pointer;

				&:hover {
					color: $color3;
				}
			}

			// Hides delete button
			.form-button {
				display: none;
			}
		}
	}
}

// List of access profiles where vertical scroll happens
.access__list-items {
	display: inline-block;
	overflow-y: scroll;
	height: 26.500rem; /* =424px */
}


.access__restrictions-menu {
	display: block;
	height: 4.5rem; /* =72px */
	margin-bottom: 1rem; /* =16px */

	.access__restrictions-menu-item {
		display: inline-block;
		border-bottom: 4px solid transparent;
		width: 50%;
		font-family: $font-bold;
		font-size: 1.125rem; /* =18px */
		line-height: 4.250rem; /* =68px */
		color: $color5;

		// When item is selected
		&.access__restrictions-menu-item--selected {
			color: $color4;
			border-bottom: 4px solid $color4;
		}
	}
}

.restrictions {
	.restrictions__row {
		height: 6rem; /* =96px */
	}

	.restrictions__title {
		display: inline-block;
		margin-left: 24px;
		width: 96px;
		font-family: $font-bold;
		font-size: 0.875rem; /* =14px */
		height: 6rem; /* =96px */
		color: $color1;
	}

	.restrictions__content {
		position: relative;
		display: inline-block;
		width: 312px;
	}

	.restrictions__button {
		display: inline-block;
		margin: 0 0.750rem; /* =12px */
		width: 72px;
	}
}

.new-admin {
	position: relative;
	width: 528px;
	height: 31rem; /* =496px */
	margin: 0 auto;
	background-color: $color6;

	.corner {
		display: block;
		position: absolute;
		width: 14px;
		height: 14px;
		border-color: $color3;
	}

	.top {
		top: 0px;
		border-top-style: solid;
	}

	.right  {
		right: 0px;
		border-right-style: solid;
	}

	.bottom {
		bottom: 0px;
		border-bottom-style: solid;
	}

	.left {
		left: 0px;
		border-left-style: solid;
	}

	.new-admin__title {
		height: 9rem; /* =144px */
		font-size: 1.250rem; /* =20px */
		text-align: center;
		line-height: 9rem; /* =144px */
		color: $color1;
	}

	.new-admin__form {
		text-align: center;
		height: 2.5rem; /* =40px */

		.form-input {
			vertical-align: middle;
			margin: 0 12px 0 0;
			border: 2px solid transparent;
			width: 322px;
			height: 2.375rem; /* =40px - 2 = 38px*/
			background-color: $color7;
			font-size: 1rem; /* =16px */
			text-indent: 18px;
			color: $color1;

			&:focus {
			border: 2px solid $color4;
			outline: none;
			}
			&::-webkit-input-placeholder {
				color: $color5;
				text-align: left;
				letter-spacing: initial;
			}
			&::-moz-placeholder {
				color: $color5;
				text-align: left;
				letter-spacing: initial;
			}
			&::-ms-input-placeholder {
				color: $color5;
				text-align: left;
				letter-spacing: initial;
			}
			&:-moz-placeholder {
				color: $color5;
				text-align: left;
				letter-spacing: initial;
			}
			&::placeholder {
				color: $color5;
				text-align: left;
				letter-spacing: initial;
			}
		}

		.form-button {
			vertical-align: middle;
			transition: border-color 0.5s, color 0.5s;
			border: 2px solid $color7;
			width: 100px;
			height: 2.375rem; /* =40px - 2 = 38px*/
			background-color: transparent;
			font-size: 0.875rem; /* =14px */
			line-height: 2.375rem; /* =40px - 2 = 38px*/
			color: $color4;

			&:hover {
				border-color: $color3;
				color: $color3;
			}
		}
	}

	.new-admin__alert {
		margin: 3.5rem 0; /* =56px */
		height: 2.5rem; /* =40px */
		font-size: 1.125rem; /* =18px */
		text-align: center;
		color: $color1;

		&.new-admin__alert--success {
			font-family: $font-bold;
			line-height: 2.5rem; /* =40px */
			color: $color3;
		}
	}

	.new-admin__buttons {
		text-align: center;
		height: 2.5rem; /* =40px */

		.new-admin__button {
			vertical-align: middle;
			transition: border-color 0.5s, color 0.5s;
			border: 2px solid $color7;
			width: 244px;
			height: 2.375rem; /* =40px - 2 = 38px*/
			background-color: transparent;
			font-size: 0.875rem; /* =14px */
			line-height: 2.375rem; /* =40px - 2 = 38px*/
			color: $color1;

			&:hover {
				border-color: $color3;
				color: $color3;
			}

			&.new-admin__button--send-invite {
				margin-left: 12px;
				color: $color4;

				.new-admin-button-icon.icon-see{
					float: right;
					margin: 0.688rem 24px 0 0; /* =11px */
				}
			}

			&.new-admin__button--skip {
				width: 178px;
			}
		}
	}
}