html {
	font-size: 100%; /* =16px */
}

body {
	font-family: $font-regular;
	background-color: $color8;
}

h1, p {
	margin: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	font-family: $font-bold;
	cursor: pointer;
}

label {
	font-family: $font-bold;
	color: $color4;
}

input {
	padding: 0;
	font-family: $font-regular;
	color: $color1;
}

.clear {
	clear: both;
}