@font-face {
  font-family: 'porter-icons';
  src:  url('fonts/porter-icons.eot?9bwm23');
  src:  url('fonts/porter-icons.eot?9bwm23#iefix') format('embedded-opentype'),
    url('fonts/porter-icons.ttf?9bwm23') format('truetype'),
    url('fonts/porter-icons.woff?9bwm23') format('woff'),
    url('fonts/porter-icons.svg?9bwm23#porter-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'porter-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-move:before {
  content: "\e900";
}
.icon-access:before {
  content: "\e901";
}
.icon-copy:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e905";
}
.icon-duplicate:before {
  content: "\e907";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-file:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90e";
}
.icon-clients:before {
  content: "\e90f";
}
.icon-home:before {
  content: "\e910";
}
.icon-issues:before {
  content: "\e911";
}
.icon-places:before {
  content: "\e912";
}
.icon-users:before {
  content: "\e913";
}
.icon-menu_active:before {
  content: "\e914";
}
.icon-menu:before {
  content: "\e916";
}
.icon-porter_logo .path1:before {
  content: "\e918";
  color: rgb(255, 255, 255);
}
.icon-porter_logo .path2:before {
  content: "\e919";
  margin-left: -3.423828125em;
  color: rgb(199, 245, 155);
}
.icon-white_symb:before {
  content: "\e91a";
}
.icon-back:before {
  content: "\e91c";
}
.icon-down:before {
  content: "\e91e";
}
.icon-left:before {
  content: "\e920";
}
.icon-right:before {
  content: "\e922";
}
.icon-see:before {
  content: "\e924";
}
.icon-send:before {
  content: "\e925";
}
.icon-up:before {
  content: "\e928";
}
.icon-add:before {
  content: "\e929";
}
.icon-check:before {
  content: "\e92b";
}
.icon-close:before {
  content: "\e92c";
}
.icon-expand:before {
  content: "\e92f";
}
.icon-reduce:before {
  content: "\e931";
}
.icon-reject:before {
  content: "\e932";
}
.icon-dot:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: $color2;
}