

// Font family
$font-regular: "ProximaNova";
$font-bold: "ProximaNovaSemiBold";
$font-icon: "porter-icons";

// Colors
$color1: #FFFFFF;
$color2: #C7F59B;
$color3: #21FFD3;
$color4: #A1B7D0;
$color5: #59647A;
$color6: #2E354A;
$color7: #293144;
$color8: #232B3C;
$color9: #CE425D;